<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637087534039-1saqca6olsu67do9ccjdu9f49ju0voh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637087534039-1saqca6olsu67do9ccjdu9f49ju0voh7</string>
	<key>API_KEY</key>
	<string>AIzaSyCL7bTMba71298csL6Tu66IHclnImq0eiI</string>
	<key>GCM_SENDER_ID</key>
	<string>637087534039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.kamyshev.SibGUTimetable</string>
	<key>PROJECT_ID</key>
	<string>sibgutimetable</string>
	<key>STORAGE_BUCKET</key>
	<string>sibgutimetable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637087534039:ios:d08b27d10ea36261889992</string>
	<key>DATABASE_URL</key>
	<string>https://sibgutimetable.firebaseio.com</string>
</dict>
</plist>